/* My WEB120 Portal Website Styles */

html {
    background-color:#0e4b5c;
    font-family: 'Asap', sans-serif;
}

main.wrapper {
    background-color:#0e4b5c;
    overflow:auto;
}

h1>a {
    text-decoration: none;
    color:#ffffff;
    
}

p {
    line-height: 1.6;
    font-size: 18px;
    color:#ffffff;
    float:right;

}

h2, h3{
    color: #ffffff;
    margin-top: 15px;
}

.logo {
    color:#ffffff;
    margin-left:1%;
    text-shadow:1px 1px #ffffff;
    font-size:1.25em;
}


/* Embed Responsively Rules! */
div.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin: auto;
    max-width: 98%;
} 

div.embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

footer {
    clear:both;
    color: #ffffff;
} 


/*Table in AIA*/

table {
    border:3px outset rgb(212, 255, 244);
    border-collapse: collapse;
    width: 100%;
    margin: 15px;
    overflow: auto;

}

th,td {
    color: #bfe2dc;
    padding : 10px;
    
}



/* START RESPONSIVE STYLES */

/* DESKTOP */
@media all and (min-width:1400px) {
	
   main.wrapper {
		width:80%;
		margin:auto;
	}

    section {
		width:65%;
		float:left;
	}
	
    aside {	
		width:34%;
		float:right;
	}
			
    img.desktop {
            width:50%;
            /* float:left; */
            display:inline-block;
            margin-right:1em;
            margin-bottom: 15px;
    }
    
    img.tablet, img.phone {
       	display:none;
    	}  
    
    /* Change background color of navigation on selected page */
    ul.topnav li a.selected {
        		background-color:#0e4b5c;
        		color:#ffffff;
   	 }
}


/* TABLET */
@media all and (min-width:737px) and (max-width:1399px) {
	
	section {
		width:60%;
		float:left;
	}
	
	aside {	
		width:39%;
		float:right;
	}
	
    img.tablet {
            width:100%;
            /* float:left; */
            display:inline-block;
    }
    
    img.desktop, img.phone {
       	display:none;
    	}  

    
    /* Change background color of navigation on selected page */
    ul.topnav li a.selected {
        background-color: #ccc;
        color:#000;
    }
}

/* PHONE */
@media all and (max-width:736px) {
    
    img.phone {
            width:100%;
            /* float:right; */
            display: inline-block;
            background-color: beige;
    }
    
    img.desktop, img.tablet {
       	display:none;
    	}  

}