.content {
    float: left;
    width: 70%;
    padding: 35px;
    overflow: auto;
    background-color: white;
  }

.sidebar {
    float: left;
    width: 30%;
    height:100%;
    padding: 15px;
    background-color: white;
}

.wrapper{
  background-color: white;

}

.wrapper:after {
    content: "";
    display: table;
    clear: both;
}
  
.content a, .sidebar a{
  text-decoration: none;
  color:black;
  padding: 10px;
}

.content a:hover, .sidebar a:hover{
  color:rgb(255, 74, 61);
}


.content p{
  text-indent: 30px;
  line-height: 1.6;
}
.content ul li, .content ol li{
  text-indent: 30px;
  line-height: 1.6;
}

.research.sidebar ol li{
  line-height: 1.6;
  font-style: italic;

}


.embed-container { 
    position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } 
    
.embed-container iframe, .embed-container object,.embed-container embed { 
    position: absolute; top: 0; left: 0; width: 100%; height: 100%; 
}

/* hide age da view */
div.embed-container.agenda-view {
  display:none; 
}


/*------ contact form------*/
.contact{
  background-color:rgba(255, 74, 61, 0.774);
  color:white;
  border-radius: 10px;
  border: 6px dashed rgb(255, 252, 67);
}

form{
  padding: 25px;
  margin:30px;
}
label{
  margin:15px 0 15px 0;
}
input[type=checkbox],input[type=radio] {
  line-height: 1.6;
}

input[type=text],input[type=email], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size:20px;
}

input[type=submit]:hover {
  background-color: #00000081;
  color:white;
}

.g-recaptcha{
  width:100%;
  transform:scale(1);
  transform-origin:0 0;
  margin:15px 0 15px 0;
}


/*-------  Media Query ------*/
/* 
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  ul.nav li:not(:first-child) {display: none;}
  ul.nav li.icon {
    display: inline-block;
   
  }
  ul.nav.responsive {position: relative;}
  ul.nav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
    }
  
  ul.nav.responsive li {
    float: none;
    display: inline;
    }

  ul.nav.responsive li a {
    display: block;
    text-align: left;
}

  .content, .sidebar {
    width: 100%;
  }

  .g-recaptcha{
    transform:scale(0.7);
    transform-origin:0 0;
    margin:3px 0 3px 0;
  }
  textarea {
    transform:scale(0.25);
    transform-origin:0 0;
}
  .modal{
    font-size:10px;
} 
  .popBtn{
  font-size: 14px;
}

.gototop span{
    font-size:13px;
}

footer h1{
  font-size: 23px;
}

}
/* calendar view for phone */
@media only screen and (max-width: 860px) {
  div.embed-container.agenda-view {
    display:block; 
  }
  div.embed-container.month-view {
    display:none; 
  }

}

/* Medium devices (landscape tablets) */
@media only screen and (min-width: 601px) and (max-width: 1399px) {
  textarea {
    transform:scale(0.77);
    transform-origin:0 0;
}

} 


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1400px) {
  ul.nav li.icon {
    display: none;
   
  }
} 
